<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>upload</title>
</head>
    <body>
        <div>
            <form method="post" action="upload" enctype="multipart/form-data">
            <input type="file" size="30" name="photo"/>
            <br>
                <label>
                    <input type="text" class="txt_input" name="id" style="margin-top:15px;"/>
                </label>
                <input type="submit" value="提交信息" class="button-new" style="margin-top:15px;"/>
            </form>
        </div>
    </body>
</html>
